body {
    background-color: #f0ead6;
}

h1,h2,h3, p ,.recipe-list {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

h2 {
    font-size: large;
    font-style: italic;
}

h3 {
    font-size: medium;
}

.steps-list {
    font-family: monospace;
}

.title {
    background-color: blanchedalmond;
    color: palevioletred;
    text-align: left;
    padding: 15px 7.5%;
}

.list {
    background-color: blanchedalmond;
    color: palevioletred;
    padding: 15px 7.5%;
    list-style-position: inside;
}

.recipe-list li {
    color: palevioletred;
}

li a {
    color: palevioletred;
}